In [ ]:
import numpy as np
import pandas as pd

In [ ]:
exam = pd.read_csv('./data/exam.csv')
exam

In [ ]:
exam.assign(test = np.where(exam['science']>= 60, 'pass', 'fall'))

In [ ]:
#p161

exam.groupby('nclass').mean()

In [ ]:
mpg = pd.read_csv('./data/mpg.csv')
mpg

In [ ]:
#p163

mpg.groupby(['manufacturer', 'drv']).agg(mean_cty = ('cty', 'mean'))

In [ ]:
mpg.query('manufacturer == "audi"').groupby(['drv']).agg(n = ('drv', 'count'))

In [ ]:
mpg.query('manufacturer == "chevrolet"').groupby(['drv']).agg(n = ('drv', 'count'))

In [ ]:
mpg.groupby('drv').agg(n = ('drv', 'count'))

In [ ]:
mpg['drv'].value_counts()

In [ ]:
mpg['drv'].value_counts().query('n > 100')  #시리즈 자료 구조라 query 사용할 수 없음

In [ ]:
mpg['drv'].value_counts().to_frame('n').rename_axis('drv').query('n > 100')

In [ ]:
mpg.query('category == "suv"').assign(total = (mpg['hwy'] + mpg['cty'])/2)\
    .groupby('manufacturer').agg(mean_tot = ('total', 'mean'))\
    .sort_values('mean_tot', ascending=False).head()

#sql 에서는 groupby + having 이 세트인 반면, 파이썬에서는 groupby + agg 를 세트로 외우기

In [ ]:
#166 q1
mpg.groupby('category').agg(mean_cty = ('cty', 'mean'))

In [ ]:
#166 q2
mpg.groupby('category').agg(mean_cty = ('cty', 'mean')).sort_values('mean_cty', ascending=False)

In [ ]:
#166 q3
mpg.groupby('manufacturer').agg(mean_hwy = ('hwy', 'mean')).head(3)

In [ ]:
#168
#중간고사 데이터 만들기
test1 = pd.DataFrame({'id' : [1, 2,3,4,5],
                       'midterm' : [60, 80, 70, 90, 85]})
test2 = pd.DataFrame({'id' : [1,2,3,4,5],
                      'final' : [70, 83, 65, 95, 80]})

In [ ]:
test1

In [ ]:
test2

In [ ]:
#169 데이터프레임 가로 합치기
total = pd.merge(test1, test2, how = 'left', on = 'id')
total

In [ ]:
name = pd.DataFrame({'nclass' : [1,2,3,4,5],
                     'teacher' : ['kim', 'lee', 'park', 'choi', 'jung']})
name

In [ ]:
exam_new = pd.merge(exam, name, how='left', on='nclass')
exam_new

In [ ]:
group_a = pd.DataFrame({'id' : [1,2,3,4,5],
                       'test' : [60, 80, 70, 90, 85]})
group_b = pd.DataFrame({'id' : [1,2,3,4,5],
                      'test' : [70, 83, 65, 95, 80]})

In [ ]:
group_a

In [ ]:
group_b

In [ ]:
# 세로 합치기 할 때는 concat 사용 
group_all = pd.concat([group_a, group_b])
group_all

#177 데이터 정제 : null 결측치, noise 이상값 제거

In [ ]:
#178 
df = pd.DataFrame({'sex' : ['M', 'F', np.nan, 'M', 'F'],
                   'score' : [5,4,3,4, np.nan]})
df

In [ ]:
#결측치 확인하기 pd.isna()

pd.isna(df)

In [ ]:
pd.isna(df).sum()

In [ ]:
df.dropna(subset=['score'])

In [ ]:
df_nomiss = df.dropna(subset=['score'])
df_nomiss['score'] +1

In [ ]:
df_nomiss = df.dropna(subset=['score', 'sex'])
df_nomiss

In [ ]:
df_nomiss2 = df.dropna()
df_nomiss2

#183 평균값으로 결측치 대체

In [ ]:
exam = pd.read_csv('./data/exam.csv')
exam.loc[[2,7,14], ['math']] = np.nan  #2, 7 ,14행의 math 값에 NaN 할당
exam

In [ ]:
exam['math'].mean()

In [ ]:
exam['math'] = exam['math'].fillna(55)
exam

In [ ]:
exam['math'].isna().sum()  #결측치 빈도 확인

In [ ]:
mpg = pd.read_csv('./data/mpg.csv')
mpg.loc [[62, 123, 130, 152, 211], "hwy"] = np.nan

In [ ]:
mpg[['drv', 'hwy']].isna().sum()

In [ ]:
mpg.dropna(subset=['hwy']).groupby('drv').agg(mean_hwy = ('hwy', 'mean'))

#186 이상치 정제하기

In [ ]:
df = pd.DataFrame({'sex' : [1,2,1,3,2,1],
                   'score' : [5,4,3,4,2,6]})
df

In [ ]:
df['sex'].value_counts().sort_index()

In [ ]:
df['score'].value_counts().sort_index()

In [ ]:
df['sex'] = np.where(df['sex'] == 3, np.nan, df['sex'])
df

In [ ]:
df['score'] = np.where(df['score'] > 5, np.nan, df['score'])  
#where를 쓰면 if & for조건 반복문 형식과 같다: 5보다 크면 nan 값으로 넣고 아니면 기존 점수 그대로 넣어라 

df

In [ ]:
#p188
df.dropna(subset=['sex', 'score']).groupby('sex').agg(mean_score = ('score', 'mean'))